# This renames crates so that they can be imported using "import::import!",
# however it has a carve out for third-party crates, which it expects to live
# in the location specified by `third_party_dir`.
build --@rules_rust//rust/settings:rename_first_party_crates=true

# This enables usage of the "import::import!" macro which conveniently imports things.
# But this requires that we add extra dependencies as listed in WORKSPACE.
build --@rules_rust//rust/settings:use_real_import_macro=true

# This changes the default location of third party provided Rust code (eg Cargo),
# from the default location ("//third_party/rust") to kebab case.
build --@rules_rust//rust/settings:third_party_dir=//third-party/rust
